@using ChatBotWithSignalR.Areas.Chat.Models;
@using System.Security.Claims;
@inject UserManager<ApplicationUser> userMangager;
@model ConversationViewModel
@{
}
<style>
    .ownMessage {
        background-color: #007bff;
        padding: 3px 0px;
        color: wheat;
        margin-top: 5px;
        border-radius: 8px;
        min-width: 57%;
        max-width: 75%;
        display: inline-block;
        float: right;
        vertical-align: top;
        overflow-x: hidden;
        word-wrap: break-word;
    }

        .ownMessage pre {
            color: #fff;
            border-radius: 10px;
            font-size: 14px;
            margin: 0;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
        }

    .ownMessageImg {
        background-color: #007bff;
        padding: 6px;
        color: wheat;
        margin-top: 5px;
        border-radius: 8px;
        min-width: 40%;
        margin-left: 17%;
        max-width: 75%;
        display: block;
        float: right;
        vertical-align: top;
        background-size: cover;
    }

    .time {
        font-size: 10px;
        font-weight: 600;
        color: silver;
        float: right;
        margin-right: 8px;
    }

    .otherMessage {
        background-color: #f9f6f6;
        padding: 5px 0px;
        color: black;
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 8px;
        min-width: 50%;
        max-width: 75%;
        float: left;
        overflow: hidden;
    }

        .otherMessage pre {
            color: #232324;
            border-radius: 10px;
            font-size: 14px;
            margin: 0;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
        }

    .otherMessageImg {
        background-color: #f9f6f6;
        padding: 5px 0px;
        color: black;
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 8px;
        margin-right: 10%;
        min-width: 40%;
        max-width: 75%;
        float: left;
        display: block;
        text-align: center;
    }

    .coversationImg {
        display: block;
        max-width: 200px;
        text-align: center;
        margin-left: 2px;
    }

    .coversationAudio {
        display: block;
        max-width: 250px;
        text-align: center;
        margin-left: 10px
    }

    #toUserContainer {
        height: 50px;
        padding: 10px 0;
        margin-left: 0px;
        margin-right: 0px;
        border-bottom: 1px solid #e0e0e0;
    }

    #conversationContainer {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 0px;
    }

        #conversationContainer::-webkit-scrollbar {
            width: 11px;
        }

    #conversationContainer {
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    }

        #conversationContainer::-webkit-scrollbar-track {
            background: var(--scrollbarBG);
        }

        #conversationContainer::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG);
            border-radius: 6px;
            border: 3px solid var(--scrollbarBG);
        }

    #toUserHeader {
        margin: 0px 0px 0px 5px;
        font-size: 10px;
        font-weight: 600;
        color: dodgerblue;
    }
</style>

<div id="toUserContainer" class="row col-md-12 bg-white border-bottom-2">
    <div>
        @if (!string.IsNullOrEmpty(Model.ToUserName))
        {
            @*<span style="margin-right: 5px"><i class="fas fa-user" style="font-size: 20px"></i> </span>*@
            <img src="@(Model.ToUserProfilePhotoUrl ?? "/images/no-image.png")" alt="avatar" style="width: 35px; border-radius: 50%; margin-top: -11px" asp-append-version="true">
            <h3 id="conUserTitle" style="display: inline">@Model.ToUserName</h3>
            <span id="toUserIdFromHeader" class="d-none">@Model.ToUserId</span>
        }
        else if (!string.IsNullOrEmpty(Model.GroupName))
        {
            @*<span style="margin-right: 5px"><i class="fas fa-users" style="font-size: 20px"></i> </span>*@
            <img src="@(Model.GroupPhotoUrl ?? "/images/no-image.png")" alt="Group Photo" style="width: 35px; border-radius: 50%; margin-top: -11px" asp-append-version="true">
            <h3 id="conGroupTitle" style="display: inline">@Model.GroupName</h3>
            <button style="padding: 0;border: none;background: none; margin-left: 20px" title="Edit Group" onclick="getCreateOrUpdateGroupModal(@Model.GroupId, `Edit Group Name`)">
                <i class="fa fa-pencil" aria-hidden="true" style="font-size:12px;"></i>
            </button>
            if (Model.GroupAuthorId.Equals(Model.LoginUserId))
            {
                <button style="padding: 0;border: none;background: none; margin-left: 10px" title="Delete Group" onclick="deleteGroup(@Model.GroupId)">
                    <i class="fa fa-trash" aria-hidden="true" style="font-size:12px;"></i>
                </button>
            }
            <button type="button" class="btn btn-outline-primary" style="padding: 0px 5px; margin-left: 10px; margin-top: -5px;" title="Assign Or Remove Users" onclick="getCreateOrUpdateUserGroupModal(@Model.GroupId)">
                <i class="fa fa-users" aria-hidden="true" style="font-size: 12px"></i>
            </button>
            <span id="toGroupIdFromHeader" class="d-none">@Model.GroupId</span>
        }
    </div>
</div>
<div class="row" id="conversationContainer">

    <div id="messageList">
        @if (Model.Conversations.Any())
        {
            @foreach (var conversation in Model.Conversations)
            {
                if (conversation.FromUserId == Model.LoginUserId)
                {
                    if (!String.IsNullOrEmpty(conversation.TextMessage))
                    {
                        <div class="ownMessage">
                            @*<pre class="@(conversation.TextMessage.Contains(@"\r\n") ? "" : "text-wrap")">@conversation.TextMessage.Replace(@"\r\n",Environment.NewLine)</pre>*@
                            <pre class="@(conversation.TextMessage.Contains(" ") ? "text-wrap" : "")">@conversation.TextMessage.Replace("<br/>",Environment.NewLine)</pre>
                            <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                        </div>
                    }
                    if (conversation.ConversationFiles.Count > 0)
                    {
                        foreach (var file in conversation.ConversationFiles)
                        {
                            var fileType = file.FileType.Split('/')[0];
                            var hasWebmExtension = file.FileType.Contains("webm");

                            if (fileType == "image")
                            {
                                <div class="ownMessageImg">
                                    <a onclick="showImageToModal('@file.FileUrl')">
                                        <img src="@file.FileUrl" alt="file" class="img-fluid img-thumbnail ml-0 mr-0 coversationImg">
                                    </a>
                                    <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                                </div>
                            }
                            else if (fileType == "audio")
                            {
                                if (hasWebmExtension)
                                {
                                    <div class="ownMessageImg">
                                        <audio controls>
                                            <source src="@file.FileUrl">
                                        </audio>

                                        <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="ownMessageImg">
                                        <span>@file.FileName</span>
                                        <audio controls>
                                            <source src="@file.FileUrl">
                                        </audio>

                                        <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                                    </div>
                                }

                            }
                            else if (fileType == "video")
                            {
                                <div class="ownMessageImg">
                                    <p>@file.FileName</p>
                                    <video controls style="width: 50%;">
                                        <source src="@file.FileUrl">
                                    </video>
                                    <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                                </div>
                            }
                            else
                            {
                                <div class="ownMessageImg">
                                    <a onclick="showFileInModal('@file.FileUrl')">
                                        <p class="text-white"><i class="fa-solid fa-file-lines"></i> @file.FileName</p>
                                        <p class="text-white">@file.FileSize</p>
                                    </a>
                                    <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                                </div>
                            }
                        }
                    }
                }
                else
                {
                    if (!String.IsNullOrEmpty(conversation.TextMessage))
                    {
                        <div class="otherMessage">
                            <p id="toUserHeader">@conversation.FromUserName</p>
                            <pre>@conversation.TextMessage.Replace("<br/>",Environment.NewLine)</pre>
                            <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                        </div>
                    }
                    if (conversation.ConversationFiles.Count > 0)
                    {
                        foreach (var file in conversation.ConversationFiles)
                        {
                            @* <div class="otherMessageImg">
        <a onclick="showFileInModal('@file.FileUrl')">
        <img src="@file.FileUrl" alt="file" class="img-fluid img-thumbnail ml-0 mr-0 coversationImg">
        </a>
        <span class="time">@conversation.SendDate.ToShortTimeString()</span>
        </div>*@
                            var fileType = file.FileType.Split('/')[0];
                            var hasWebmExtension = file.FileType.Contains("webm");
                            if (fileType == "image")
                            {
                                <div class="otherMessageImg">
                                    <a onclick="showImageToModal('@file.FileUrl')">
                                        <img src="@file.FileUrl" alt="file" class="img-fluid img-thumbnail ml-0 mr-0 coversationImg">
                                    </a>
                                    <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                                </div>
                            }
                            else if (fileType == "audio")
                            {
                                if (hasWebmExtension)
                                {
                                    <div class="otherMessageImg">
                                        <audio controls class="coversationAudio">
                                            <source src="@file.FileUrl">
                                        </audio>

                                        <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="otherMessageImg">
                                        <span>@file.FileName</span>
                                        <audio controls class="coversationAudio">
                                            <source src="@file.FileUrl">
                                        </audio>

                                        <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                                    </div>
                                }

                            }
                            else if (fileType == "video")
                            {
                                <div class="otherMessageImg">
                                    <p>@file.FileName</p>
                                    <video controls class="coversationImg">
                                        <source src="@file.FileUrl">
                                    </video>
                                    <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                                </div>
                            }
                            else
                            {
                                <div class="otherMessageImg">
                                    <a onclick="showFileInModal('@file.FileUrl')">
                                        <p><i class="fa-solid fa-file-lines"></i> @file.FileName</p>
                                        <p>@file.FileSize</p>
                                    </a>
                                    <span class="time">@conversation.SendDate.ToShortTimeString()</span>
                                </div>
                            }
                        }
                    }
                }
            }
        }
    </div>
</div>

@*Modal for create a user group*@
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="imgBody" style="padding: 8px">
                <img src="" atl="img" class="img-fluid img-thumbnail" id="modalImgTag" />
            </div>
        </div>
    </div>
</div>
@*Modal for create a user group*@

@section Scripts{
    <script>
        $(document).ready(() => {
            scrollToBottom();
            $('#ToUserName').val('@Model.ToUserName');
        });
    </script>
}
<script>
    $('#ToUserName').val('@Model.ToUserName');

    function showImageToModal(url) {
        $('#modalImgTag').attr('src', url);
        $('#imageModal').modal('show');

    }
</script>


