@using ChatBotWithSignalR.Areas.Chat.Models;
@using System.Security.Claims;
@inject UserManager<ApplicationUser> userMangager;
@model ConversationViewModel
@{
}
@*<style>
    .ownMessage {
        background-color: #007bff;
        padding: 3px 0px;
        color: wheat;
        margin-top: 5px;
        border-radius: 8px;
        min-width: 57%;
        max-width: 75%;
        display: inline-block;
        float: right;
        vertical-align: top;
        overflow-x: hidden;
        word-wrap: break-word;
    }

        .ownMessage pre {
            color: #fff;
            border-radius: 10px;
            font-size: 14px;
            margin: 0;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
        }

    .ownMessageImg {
        background-color: #007bff;
        padding: 6px;
        color: wheat;
        margin-top: 5px;
        border-radius: 8px;
        min-width: 40%;
        margin-left: 17%;
        max-width: 75%;
        display: block;
        float: right;
        vertical-align: top;
        background-size: cover;
    }

    .time {
        font-size: 10px;
        font-weight: 600;
        color: silver;
        float: right;
        margin-right: 8px;
    }

    .otherMessage {
        background-color: #f9f6f6;
        padding: 5px 0px;
        color: black;
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 8px;
        min-width: 50%;
        max-width: 75%;
        float: left;
        overflow: hidden;
    }

        .otherMessage pre {
            color: #232324;
            border-radius: 10px;
            font-size: 14px;
            margin: 0;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
        }

    .otherMessageImg {
        background-color: #f9f6f6;
        padding: 5px 0px;
        color: black;
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 8px;
        margin-right: 10%;
        min-width: 40%;
        max-width: 75%;
        float: left;
        display: block;
        text-align: center;
    }

    .coversationImg {
        display: block;
        max-width: 200px;
        text-align: center;
        margin-left: 2px;
    }

    .coversationAudio {
        display: block;
        max-width: 250px;
        text-align: center;
        margin-left: 10px
    }

    #toUserContainer {
        height: 50px;
        padding: 10px 0;
        margin-left: 0px;
        margin-right: 0px;
        border-bottom: 1px solid #e0e0e0;
    }

    #conversationContainer {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 0px;
    }

        #conversationContainer::-webkit-scrollbar {
            width: 11px;
        }

    #conversationContainer {
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    }

        #conversationContainer::-webkit-scrollbar-track {
            background: var(--scrollbarBG);
        }

        #conversationContainer::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG);
            border-radius: 6px;
            border: 3px solid var(--scrollbarBG);
        }

    #toUserHeader {
        margin: 0px 0px 0px 5px;
        font-size: 10px;
        font-weight: 600;
        color: dodgerblue;
    }
</style>*@

<style>
    #toUserContainer {
        height: 50px;
        padding: 10px 0;
        margin-left: 0px;
        margin-right: 0px;
        border-bottom: 1px solid #e0e0e0;
    }

    #conversationContainer {
        height: calc(100% - 50px);
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 0px;
    }

        #conversationContainer::-webkit-scrollbar {
            width: 11px;
        }

    #conversationContainer {
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    }

        #conversationContainer::-webkit-scrollbar-track {
            background: var(--scrollbarBG);
        }

        #conversationContainer::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG);
            border-radius: 6px;
            border: 3px solid var(--scrollbarBG);
        }

    /* right-container */
    .chat-container {
        position: relative;
        padding: 50px;
        overflow-y: auto;
    }

    .message-box {
        position: relative;
        display: flex;
        width: 100%;
        margin: 5px 0;
    }

        .message-box p {
            position: relative;
            right: 0;
            text-align: right;
            max-width: 65%;
            padding: 12px;
            background: #dcf8c6;
            border-radius: 10px;
            font-size: 0.9em;
        }

        .message-box.my-message p::before {
            content: '';
            position: absolute;
            top: 0;
            right: -12px;
            width: 20px;
            height: 20px;
            background: linear-gradient(135deg, #dcf8c6 0%, #dcf8c6 50%, transparent 50%, transparent);
        }

        .message-box p span {
            display: block;
            margin-top: 5px;
            font-size: 0.8em;
            opacity: 0.5;
        }

    .my-message {
        justify-content: flex-end;
    }

    .friend-message p {
        background: #fff;
    }

    .friend-message {
        justify-content: flex-start;
        margin-left: 10px;
    }

    .chat-container .my-message i {
        color: yellow;
    }

    .message-box.friend-message::before {
        content: '';
        position: absolute;
        top: 0;
        left: -12px;
        width: 20px;
        height: 20px;
        background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
    }

    .message-box audio {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        object-fit: contain;
    }

    .message-box video {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        object-fit: contain;
    }

    .fromUser {
        margin-top: -12px !important;
        text-align: left;
    }

    .fileName, .fileSize {
        font-size: 1em !important;
        opacity: 0.8 !important
    }

    .toUserGroupTitle{
        color: #012970;
    }
</style>

<div id="toUserContainer" class="row col-md-12 bg-white border-bottom-2">
    <div>
        @if (!string.IsNullOrEmpty(Model.ToUserName))
        {
            @*<span style="margin-right: 5px"><i class="fas fa-user" style="font-size: 20px"></i> </span>*@
            <img src="@(Model.ToUserProfilePhotoUrl ?? "/images/no-image.png")" alt="avatar" style="width: 35px; border-radius: 50%; margin-top: -11px" asp-append-version="true">
            <h3 id="conUserTitle" class="d-inline toUserGroupTitle">@Model.ToUserName</h3>
            <span id="toUserIdFromHeader" class="d-none">@Model.ToUserId</span>
        }
        else if (!string.IsNullOrEmpty(Model.GroupName))
        {
            @*<span style="margin-right: 5px"><i class="fas fa-users" style="font-size: 20px"></i> </span>*@
            <img src="@(Model.GroupPhotoUrl ?? "/images/no-image.png")" alt="Group Photo" id="chatbox-header-image" style="width: 35px; border-radius: 50%; margin-top: -11px" asp-append-version="true">
            <h3 id="conGroupTitle" class="d-inline toUserGroupTitle">@Model.GroupName</h3>
            <button style="padding: 0;border: none;background: none; margin-left: 20px" title="Edit Group" onclick="getCreateOrUpdateGroupModal(@Model.GroupId, `Edit Group Name`)">
                <i class="fa fa-pencil" aria-hidden="true" style="font-size:12px;"></i>
            </button>
            if (Model.GroupAuthorId.Equals(Model.LoginUserId))
            {
                <button style="padding: 0;border: none;background: none; margin-left: 10px" title="Delete Group" onclick="deleteGroup(@Model.GroupId)">
                    <i class="fa fa-trash" aria-hidden="true" style="font-size:12px;"></i>
                </button>
            }
            <button type="button" class="btn btn-outline-primary" style="padding: 0px 5px; margin-left: 10px; margin-top: -5px;" title="Assign Or Remove Users" onclick="getCreateOrUpdateUserGroupModal(@Model.GroupId)">
                <i class="fa fa-users" aria-hidden="true" style="font-size: 12px"></i>
            </button>
            <span id="toGroupIdFromHeader" class="d-none">@Model.GroupId</span>
        }
    </div>
</div>
<div class="row" id="conversationContainer">

    <div id="messageList">
        @if (Model.Conversations.Any())
        {
            @foreach (var conversation in Model.Conversations)
            {
                if (conversation.FromUserId == Model.LoginUserId)
                {
                    if (!String.IsNullOrEmpty(conversation.TextMessage))
                    {
                        @*<pre class="@(conversation.TextMessage.Contains(@"\r\n") ? "" : "text-wrap")">@conversation.TextMessage.Replace(@"\r\n",Environment.NewLine)</pre>*@
                        @*<pre class="@(conversation.TextMessage.Contains(" ") ? "text-wrap" : "")">@conversation.TextMessage.Replace("<br/>",Environment.NewLine)</pre>*@
                        <div class="message-box my-message">
                            <p>
                                @conversation.TextMessage.Replace("<br/>",Environment.NewLine)
                                @*<pre> @conversation.TextMessage.Replace("<br/>",Environment.NewLine)</pre>*@
                                <br>
                                <span>@conversation.SendDate.ToShortTimeString()</span>
                            </p>
                        </div>
                    }
                    if (conversation.ConversationFiles.Count > 0)
                    {
                        foreach (var file in conversation.ConversationFiles)
                        {
                            var fileType = file.FileType.Split('/')[0];
                            var hasWebmExtension = file.FileType.Contains("webm");

                            if (fileType == "image")
                            {
                                <div class="message-box my-message">
                                    <p>
                                        <img src="@file.FileUrl" alt="file" onclick="showImageToModal('@file.FileUrl')" class="img-fluid img-thumbnail ml-0 mr-0">
                                        <br>
                                        <span>@conversation.SendDate.ToShortTimeString()</span>
                                    </p>
                                </div>
                            }
                            else if (fileType == "audio")
                            {
                                if (hasWebmExtension)
                                {
                                    <div class="message-box my-message">
                                        <p>
                                            <audio controls>
                                                <source src="@file.FileUrl">
                                            </audio>
                                            <br>
                                            <span>@conversation.SendDate.ToShortTimeString()</span>
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="message-box my-message">
                                        <p>
                                            <span class="fileName">@file.FileName</span>
                                            <audio controls>
                                                <source src="@file.FileUrl">
                                            </audio>
                                            <br>
                                            <span>@conversation.SendDate.ToShortTimeString()</span>
                                        </p>
                                    </div>
                                }

                            }
                            else if (fileType == "video")
                            {
                                <div class="message-box my-message">
                                    <p>
                                        <span class="fileName">@file.FileName</span>
                                        <video controls>
                                            <source src="@file.FileUrl">
                                        </video>
                                        <br>
                                        <span>@conversation.SendDate.ToShortTimeString()</span>
                                    </p>
                                </div>
                            }
                            else
                            {
                                <div class="message-box my-message">
                                    <p>
                                        <span onclick="showFileInModal('@file.FileUrl')" class="fileName"><i class="fa-solid fa-file-lines"></i> @file.FileName</span>
                                        <span class="fileSize">@file.FileSize</span>
                                        <br>
                                        <span>@conversation.SendDate.ToShortTimeString()</span>
                                    </p>
                                </div>
                            }
                        }
                    }
                }
                else
                {
                    if (!String.IsNullOrEmpty(conversation.TextMessage))
                    {
                        @*  <div class="otherMessage">
        <p id="toUserHeader">@conversation.FromUserName</p>
        <pre>@conversation.TextMessage.Replace("<br/>",Environment.NewLine)</pre>
        <span class="time">@conversation.SendDate.ToShortTimeString()</span>
        </div>*@
                        <div class="message-box friend-message">
                            <p>
                                @if (conversation.GroupId > 0)
                                {
                                    <span class="fromUser">@conversation.FromUserName</span>
                                }
                                @conversation.TextMessage.Replace("<br/>",Environment.NewLine)
                                <br>
                                <span>@conversation.SendDate.ToShortTimeString()</span>
                            </p>
                        </div>
                    }
                    if (conversation.ConversationFiles.Count > 0)
                    {
                        foreach (var file in conversation.ConversationFiles)
                        {
                            var fileType = file.FileType.Split('/')[0];
                            var hasWebmExtension = file.FileType.Contains("webm");
                            if (fileType == "image")
                            {
                                <div class="message-box friend-message">
                                    <p>
                                        @if (conversation.GroupId > 0)
                                        {
                                            <span class="fromUser">@conversation.FromUserName</span>
                                        }
                                        <img src="@file.FileUrl" alt="file" onclick="showImageToModal('@file.FileUrl')" class="img-fluid img-thumbnail ml-0 mr-0">
                                        <br>
                                        <span>@conversation.SendDate.ToShortTimeString()</span>
                                    </p>
                                </div>
                            }
                            else if (fileType == "audio")
                            {
                                if (hasWebmExtension)
                                {
                                    <div class="message-box friend-message">
                                        <p>
                                            @if (conversation.GroupId > 0)
                                            {
                                                <span class="fromUser">@conversation.FromUserName</span>
                                            }
                                            <audio controls>
                                                <source src="@file.FileUrl">
                                            </audio>
                                            <br>
                                            <span>@conversation.SendDate.ToShortTimeString()</span>
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="message-box friend-message">
                                        <p>
                                            @if (conversation.GroupId > 0)
                                            {
                                                <span class="fromUser">@conversation.FromUserName</span>
                                            }
                                            <span>@file.FileName</span>
                                            <audio controls>
                                                <source src="@file.FileUrl">
                                            </audio>
                                            <br>
                                            <span>@conversation.SendDate.ToShortTimeString()</span>
                                        </p>
                                    </div>
                                }

                            }
                            else if (fileType == "video")
                            {
                                <div class="message-box friend-message">
                                    <p>
                                        @if (conversation.GroupId > 0)
                                        {
                                            <span class="fromUser">@conversation.FromUserName</span>
                                        }
                                        <span class="fileName">@file.FileName</span>
                                        <video controls>
                                            <source src="@file.FileUrl">
                                        </video>
                                        <br>
                                        <span>@conversation.SendDate.ToShortTimeString()</span>
                                    </p>
                                </div>
                            }
                            else
                            {
                                <div class="message-box friend-message">
                                    <p>
                                        @if (conversation.GroupId > 0)
                                        {
                                            <span class="fromUser">@conversation.FromUserName</span>
                                        }
                                        <span  class="fileName" onclick="showFileInModal('@file.FileUrl')"><i class="fa-solid fa-file-lines"></i> @file.FileName</span>
                                        <span class="fileSize">@file.FileSize</span>
                                        <span>@conversation.SendDate.ToShortTimeString()</span>
                                    </p>
                                </div>
                            }
                        }
                    }
                }
            }
        }
    </div>
</div>

@*Modal for create a user group*@
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="imgBody" style="padding: 8px">
                <img src="" atl="img" class="img-fluid img-thumbnail" id="modalImgTag" />
            </div>
        </div>
    </div>
</div>
@*Modal for create a user group*@

@section Scripts{
    <script>
        $(document).ready(() => {
            scrollToBottom();
            $('#ToUserName').val('@Model.ToUserName');
        });
    </script>
}
<script>
    $('#ToUserName').val('@Model.ToUserName');

    function showImageToModal(url) {
        $('#modalImgTag').attr('src', url);
        $('#imageModal').modal('show');

    }
</script>


