@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>
@{
    var name = ViewBag.Name;
    var id = ViewBag.Id;
    var userId = ViewBag.UserId;
    var labelName = ViewBag.LabelName;
    var labelClass = ViewBag.LabelClass;
    var classList = ViewBag.ClassList;
    var functionName = ViewBag.FunctionName;
    var required = ViewBag.Required;
}

@if (!string.IsNullOrEmpty(labelName))
{
    <label class="form-label @labelClass">@labelName</label>
}

@if (required == "true")
{
    <select name="@name" id="@id" class="form-control @classList" onchange="@functionName" data-val="@required" data-val-required="@labelName is required" >
        <option value="">Choose User</option>
        @foreach (var item in Model)
        {
            if (item.Id == userId)
            {
                <option selected value="@item.Id">@item.UserName</option>
            }
            else
            {
                <option value="@item.Id">@item.UserName</option>
            }
        }
    </select>
}
else
{
    <select name="@name" id="@id" class="form-control @classList" onchange="@functionName" data-val="@required" data-val-required="@labelName is required">
        <option value="0">Choose User</option>
        @foreach (var item in Model)
        {
            if (item.Id == userId)
            {
                <option selected value="@item.Id">@item.UserName</option>
            }
            else
            {
                <option value="@item.Id">@item.UserName</option>
            }
        }
    </select>
}
<span asp-validation-for="@name" class="text-danger"></span>


